<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.tjx.mapper.WorkMapper">

    <resultMap id="BaseResultMap" type="com.swpu.tjx.domain.Work">
            <id property="workId" column="work_id" jdbcType="BIGINT"/>
            <result property="workName" column="work_name" jdbcType="VARCHAR"/>
            <result property="workGroup" column="work_group" jdbcType="VARCHAR"/>
            <result property="workSchool" column="work_school" jdbcType="VARCHAR"/>
            <result property="workTeam" column="work_team" jdbcType="VARCHAR"/>
            <result property="workEligibility" column="work_eligibility" jdbcType="VARCHAR"/>
            <result property="workEntry" column="work_entry" jdbcType="VARCHAR"/>
            <result property="workPublicity" column="work_publicity" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="creatTime" column="creat_time" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="workScord" column="work_scord" jdbcType="DOUBLE"/>
            <result property="workOpinion" column="work_opinion" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        work_id,work_name,work_group,
        work_school,work_team,work_eligibility,
        work_entry,work_publicity,phone,
        creat_time,user_id,work_scord,
        work_opinion
    </sql>
</mapper>
